@{
    ViewData["Title"] = "Home Page";
    
}
@model string;

<div class="text-center">
    <div class="jumbotron">
        <h1>Here is a Message to you Rudie!</h1>
        <p>@Model</p>
    </div>   
</div>
